@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
   font-family: "Manrope", sans-serif;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #010133 100%);
    background-attachment: fixed;
    /* Scroll karte waqt bhi stable rahe */
    color: white;
    /* text white dikhane ke liye */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
